{
  "root": true,
  "env": {
    "node": true
  },

  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "strict": ["error", "global"],
    "eqeqeq": "error",
    "no-unused-vars": "error",
    "no-unused-expressions": "error",
    "no-param-reassign": "error",
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "prefer-template": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "no-var": "error",
    "arrow-spacing": "error",
    "key-spacing": "error",
    "no-extra-parens": "error",
    "callback-return": "error",
    "linebreak-style": ["error", "unix"],
    "comma-dangle": ["error", "always-multiline"],
    "semi": "error",
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "quotes": ["error", "double"],
    "default-case": "error",
    "no-fallthrough": "error",
    "@typescript-eslint/typedef": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["src/**"]
    }
  ]
}
